# ===============================
# Maven / Spring Boot
# ===============================
target/
!**/src/main/**/target/
!**/src/test/**/target/

HELP.md
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# IDE Files
# ===============================

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ===============================
# Ignore TXT files (IMPORTANT)
# ===============================
*.txt

# Explicit ignore (extra safety)
src/main/resources/templates/user_details.txt
src/main/resources/templates/admin/user_details.txt

# ===============================
# Allow ONLY image files
# ===============================
!*.jpg
!*.jpeg
